version: '3.8'

services:
  backend:
    build: .
    container_name: spanish_backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DEBUG=1
      - DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,backend
    command: python manage.py runserver 0.0.0.0:8000

  frontend:
    build: ./frontend
    container_name: spanish_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend
